# APP CONFIGURATION
NODE_ENV=development
PORT=3000

# DATABASE CONFIGURATION
DB_HOST=localhost
DB_PORT=5432
DB_NAME=
DB_USER=postgres
DB_PASSWORD=

# JWT AUTHENTICATION
JWT_SECRET=
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=7d

# SECURITY
BCRYPT_ROUNDS=12

#CORS
CORS_ORIGIN=http://localhost:3000

# LOGGING
LOG_LEVEL=info

# FILE UPLOAD
UPLOAD_DIR=./uploads
MAX_FILE_SIZE=52428800
STORAGE_LIMIT_MB=2048